{% extends "core/base.html" %}
{% block title %}Welcome to our Job Board Listings{% endblock %}
{% block content %}
<div class="relative container mx-auto pb-7 pt-14 lg:pt-22" id="post-content">
    <div class="w-full px-0">
        <div class=" bg-white rounded overflow-hidden shadow mx-1">
            <div class="p-3 sm:p-6 lg:p-8">
                <div class="pb-3 text-gray-darker leading-normal text-base md:text-xl">
                    <h1 class="text-xl font-bold">Job Board Listings</h1>
                </div>
                {% if jobs %}
                <ul id="listings" class="grid grid-cols-1 gap-4">
                    {% for job in jobs %}
                    <li class="bg-green-100 rounded shadow group hover:bg-blue-100 focus-within:bg-blue-100">
                        <a href="{% url 'job:detail' slug=job.slug %}">
                            <h2 class="py-2 px-4 text-lg font-semibold block bg-green-200 group-hover:bg-blue-200 group-focus-within:bg-blue-200">{{ job.title }}</h2>
                            <span class="p-4 mt-2 md:mt-1 sm:flex sm:justify-between flex-wrap items-center">
                                <p class="text-gray-600 mt-2">👥 Company: {{ job.company_name }}</p>
                                <p class="text-gray-700 mt-2" title="Job Location">📍 Location: {{ job.location }}</p>
                                <p class="text-gray-700 mt-2" title="Application Deadline">⌛ Deadline: {{ job.deadline }}</p>
                                <p class="text-gray-700 mt-2" title="Date Posted">🗓️ Posted {{ job.created_on|timesince }} ago</p>
                            </span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <div class="text-center mt-5 bg-red-200 py-2">
                        <p class="text-gray-700 text-lg">No job listings available at the moment.</p>
                        <p class="text-gray-500">Please check back later.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
