{% load static tailwind_tags %}<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF=8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <style>.content{background-image:linear-gradient(120deg,#84fab0,#8fd3f4)}</style>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block header %}
    <header class="py-7">
        <nav id="header" class="fixed top-0 z-10 w-full shadow" style="background-image: linear-gradient(120deg, #3b7977 0%, #72b1bb 100%);">
            <div class="container flex flex-wrap items-center justify-between w-full py-3 mx-auto mt-0">
                <div class="flex items-center justify-between w-full pl-2 md:w-1/2 xl:pl-0">
                    <a href="/" class="flex items-center font-extrabold text-white no-underline hover:text-white hover:no-underline">
                        <span class="pl-4 text-2xl md:text-3xl">🌐 WebWit</span>
                    </a>
                </div>
            </div>
        </nav>
    </header>
    {% endblock %}
    <div class="content">
    {% block content %}
    {% endblock %}
    </div>
    {% block footer %}
    <footer class="pt-0 mt-0 text-gray-100 bg-gray-700">
        <div class="container py-2 mx-auto">
            <div class="px-4 text-center text-xs">
                © 2024 All rights reserved. Handcrafted by WebWit LLC.
            </div>
        </div>
    </footer>
    {% endblock %}
</body>
</html>